.helloDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Alice';
  -webkit-text-stroke-width: 1.3px; /* largura da borda */
  width: 60vh;
  height: 12vh;
}

.div-textos {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.ola-usuario {
  color: #20311D;
  font-size: 30px;
  font-weight: bold ;
}

.subtitulo {
  color: #5C6754;

}